name: Secret Scan (TruffleHog)

on:
  push:
    branches:
      - main
      - feature_monitoring   # your feature branch
  pull_request:
    branches:
      - main                 # scan PRs going into main

permissions:
  contents: read
  id-token: write
  issues: write
  pull-requests: write

jobs:
  trufflehog:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0      # needed so TruffleHog can see history

      - name: Run TruffleHog
        uses: trufflesecurity/trufflehog@v3
        with:
          path: ./
          extra_args: --only-verified

      # If TruffleHog finds verified secrets, this step never runs
      # because the previous step will exit with a non-zero code