name: Secret Scan (TruffleHog)

on:
  push:
    branches:
      - main
      - feature_monitoring
  pull_request:
    branches:
      - main

permissions:
  contents: read
  id-token: write
  issues: write
  pull-requests: write

jobs:
  trufflehog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run TruffleHog
        # Must use "main" because there is no tagged version
        uses: trufflesecurity/trufflehog@main
        continue-on-error: false
        with:
          path: ./
          extra_args: --only-verified